
<!-- reBuild :  20230320020237 -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=991" />
  <title>Dashboard</title>

  <!-- SEO -->
  <meta name="robots" content="noindex,nofollow"> 

  <!-- FAVICON -->
  <link rel="shortcut icon" href="/view/assets/img/favicon.ico" />

  <!-- STYLE -->
  <link rel="stylesheet" href="//fonts.realsn.com/libs/NotoSansKR/NotoSansKR.css">
  <link rel="stylesheet" href="/view/assets/css/style.css?v=20230320020237">

  <!-- JS -->
  <script src="/view/assets/js/config/files.js?v=20230320020237" defer></script>
  <script src="/view/assets/js/libs.js?v=20230320020237" defer></script>
  <script src="/view/assets/js/modules.js?v=20230320020237" defer></script>
  <script src="/view/assets/js/config/router.js?v=20230320020237" defer></script>
</head>

<body>
  <!-- 페이지 로딩 -->
  
  
    
      
      
      



  <!-- //페이지 로딩 -->
  <!-- #wrap -->
  <div id="wrap" data-target-device="pc" user-scalable="false" style="opacity: 0; visibility: hidden;">

    
      
        
          
          
          
        <!-- #header -->
        <header id="header" class="header" data-header-fixed="false" role="banner">
          <div class="inner-fluid">
            <h1 class="header-logo"><a class="header-logo__link" href="/view/regional" title="권역설정으로 돌아가기"><img class="img" src="/view/assets/img/common/logo-dgdp.png" alt="DGDP"><span class="tit">대구경북</span><span class="desc">고효율에너지시스템</span></h1>
            <ul class="header-indicator">              
              <li class="header-indicator__item">분석기간 : 1/8~27</li>
              <li class="header-indicator__item"><a href="#" class="btn btn-icon rounded-circle" title="권역설정으로 돌아가기"><i class="icon-svg icon-svg-home" aria-hidden="true"></i></a></li>
            </ul>            
          </div>          
        </header>
        <!-- //#header -->
      
    
  

<!-- #container -->
<main id="container" class="regional" data-header-hide="true" data-footer-hide="true" role="main">
  <h2 class="visually-hidden">지역설정</h2>

  <!-- 지역설정 -->
  <section class="l-section mx-auto is-ready" data-section="지역설정">
    <div class="inner-fluid overflow-visible">
      <header class="l-section-header">
        <h3 class="l-section-header__title">RIDP</h3>
        <p class="l-section-header__description">게시할 상황판의 권역을 선택하세요.</p>
      </header>
      <main class="l-section-body">
        <ul class="list-regional">
          <li class="list-regional__item">
            <a class="btn btn-regional" href="/view/overview">
              <div class="logo rounded-circle"><img class="img" src="/view/assets/img/common/logo-design.png" alt="디자인통합"></div>
              <p class="tit">디자인 통합</p>
              <p class="desc">디자인</p>
            </a>
          </li>
          <li class="list-regional__item">
            <a class="btn btn-regional" href="/view/overview">
              <div class="logo rounded-circle"><img class="img" src="/view/assets/img/common/logo-dgdp.png" alt="대구경북"></div>              
              <p class="tit">대구경북</p>
              <p class="desc">대구 · 경북</p>
            </a>
          </li>
          <li class="list-regional__item">
            <a class="btn btn-regional" href="/view/overview">
              <div class="logo rounded-circle"><img class="img" src="/view/assets/img/common/logo-busan.png" alt="부산"></div>            
              <p class="tit">부산</p>
              <p class="desc">부산 · 울산</p>
            </a>
          </li>
          <li class="list-regional__item">
            <a class="btn btn-regional" href="/view/overview">
              <div class="logo rounded-circle"><img class="img" src="/view/assets/img/common/logo-didp.png" alt="대전"></div>           
              <p class="tit">대전</p>
              <p class="desc">대전 · 세종</p>
              <p class="desc">충북 · 충남</p>
            </a>
          </li>
          <li class="list-regional__item">
            <a class="btn btn-regional" href="/view/overview">
              <div class="logo rounded-circle"><img class="img" src="/view/assets/img/common/logo-gangwon.png" alt="강원"></div>             
              <p class="tit">강원</p>
              <p class="desc">강원</p>
            </a>
          </li>
          <li class="list-regional__item">
            <a class="btn btn-regional" href="/view/overview">
              <div class="logo rounded-circle"><img class="img" src="/view/assets/img/common/logo-gidp.png" alt="광주"></div>            
              <p class="tit">광주</p>
              <p class="desc">광주 · 전북</p>
              <p class="desc">전남 · 제주</p>
            </a>
          </li>
        </ul>
      </main>
    </div>
  </section>
  <!-- // 지역설정 -->
</main> 
<!-- // #container -->
<!-- #footer -->
<footer id="footer" class="footer visually-hidden" role="contentinfo">
  <h2>푸터</h2>
</footer>
<!-- //#footer -->

</div>
<!-- //#wrap -->
</body>
</html>

