
<!-- reBuild :  20230314165633 -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=991" />
  <title>Dashboard</title>

  <!-- SEO -->
  <meta name="robots" content="noindex,nofollow"> 

  <!-- FAVICON -->
  <link rel="shortcut icon" href="/view/assets/img/favicon.ico" />

  <!-- STYLE -->
  <link rel="stylesheet" href="//fonts.realsn.com/libs/NotoSansKR/NotoSansKR.css">
  <link rel="stylesheet" href="/view/assets/css/style.css?v=20230314165633">

  <!-- JS -->
  <script src="/view/assets/js/config/files.js?v=20230314165633" defer></script>
  <script src="/view/assets/js/libs.js?v=20230314165633" defer></script>
  <script src="/view/assets/js/modules.js?v=20230314165633" defer></script>
  <script src="/view/assets/js/config/router.js?v=20230314165633" defer></script>
</head>

<body>
  <!-- 페이지 로딩 -->
  
  
    
      
      
      


<!-- loading page -->
<aside id="loadingWrap">
  <div class="content">
    <div class="img"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
    <p>페이지를 불러오고 있습니다.</p>
  </div>

  
  <style type="text/css">
      #loadingWrap {position:fixed;z-index:101;top:0;left:0;width:100%;height:100%;color:#fff;font-family:sans-serif;background-color:rgba(0,0,0,0.3)}
      #loadingWrap .content {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
      #loadingWrap .content .img {position:relative;margin:auto;width:20vw;height:20vw;transform:rotate(0);animation:loadingWrap 2.4s infinite linear;}
      #loadingWrap .content .img i {position:absolute;top:0;left:50%;width:50%;height:50%;margin-left:-25%;transform-origin:50% 100%;}
      #loadingWrap .content .img i:nth-child(1) {transform: rotate(45deg);}
      #loadingWrap .content .img i:nth-child(2) {transform: rotate(90deg);}
      #loadingWrap .content .img i:nth-child(3) {transform: rotate(135deg);}
      #loadingWrap .content .img i:nth-child(4) {transform: rotate(180deg);}
      #loadingWrap .content .img i:nth-child(5) {transform: rotate(225deg);}
      #loadingWrap .content .img i:nth-child(6) {transform: rotate(270deg);}
      #loadingWrap .content .img i:nth-child(7) {transform: rotate(315deg);}
      #loadingWrap .content .img i:nth-child(8) {transform: rotate(360deg);}
      #loadingWrap .content .img i::after {content:"";display:block;width:35%;height:35%;background-color:#fff;border-radius:50%;transform:scale(0.6)}
      #loadingWrap .content p {position:absolute;left:50%;margin:0;padding:0;font-size:16px;white-space:nowrap;transform:translate(-50%, 80%)}

      @media screen and (min-width:768px) {
          #loadingWrap .content .img {width:100px;height:100px;}
      }
      @keyframes loadingWrap {
          0% {transform: rotate(0);}
          100% {transform: rotate(360deg);}
      }
  </style>
</aside>
<!-- //loading page -->






  <!-- //페이지 로딩 -->
  <!-- #wrap -->
  <div id="wrap" data-target-device="pc" user-scalable="false" style="opacity: 0; visibility: hidden;" ready>

    
      
        
          
          
          
        <!-- #header -->
        <header id="header" class="header" data-header-fixed="false" role="banner">
          <div class="inner-fluid">
            <h1 class="header-logo"><a class="header-logo__link" href="/view/regional" title="권역설정으로 돌아가기"><img class="img" src="/view/assets/img/common/logo-didp.png" alt="DIDP"><span class="tit">대구경북</span><span class="desc">고효율에너지시스템</span></h1>
            <ul class="header-indicator">
              <li class="header-indicator__item">분석기간 : 1/8~27</li>
              <li class="header-indicator__item"><a href="#" class="btn btn-icon rounded-circle" title="권역설정으로 돌아가기"><i class="icon-svg icon-svg-home" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </header>
        <!-- //#header -->
      
    
  

<!-- #container -->
<main id="container" class="overview" data-header-hide="false" data-footer-hide="false" role="main">
  <h2 class="visually-hidden">상황판</h2>  

  <!-- 상황판 -->
  <section class="l-section" data-section="상황판">
    <div class="inner-fluid h-100">
      <div class="swiper" style="width:100%">
        <div class="swiper-wrapper">
          <!-- swiper-slide-overview1 -->
<div class="swiper-slide swiper-slide-overview1" style="height:96.4rem">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-16">
          <article class="l-article l-article--bg-gradient mb-20" data-article="전체정보량" data-loding-spinner="false" data-is-empty="false" style="height: 22rem">
            <header class="l-article-header"><h4 class="l-article-header__title">전체 정보량</h4></header>
            <main class="l-article-body d-flex">
              <span class="ml-auto mt-auto cnt">6,078</span>
            </main>
          </article>
          <article class="l-article  l-article--bg-gradient mb-20" data-article="호감도SNPS" data-loding-spinner="false" data-is-empty="false" style="height: 30rem">
            <header class="l-article-header"><h4 class="l-article-header__title">호감도(SNPS)</h4></header>
            <main class="l-article-body">
              <div class="c-chart-gauge">
                <span class="c-chart-gauge__bar c-chart-gauge__bar--nega"></span><span class="c-chart-gauge__bar c-chart-gauge__bar--posi"></span>
                <span class="c-chart-gauge__arrow" style="transform: rotate(-45deg)"></span>
                <span class="c-chart-gauge__arrow" style="transform: rotate(0deg)"></span>
                <span class="c-chart-gauge__arrow" style="transform: rotate(90deg)"></span>
                <span class="c-chart-gauge__num">-30%</span>
              </div>
            </main>
          </article>
          <article class="l-article  l-article--bg-gradient" data-article="Top5채널" data-loding-spinner="false" data-is-empty="false" style="height: 40.4rem">
            <header class="l-article-header"><h4 class="l-article-header__title">Top 5 채널</h4></header>
            <main class="l-article-body">
              <article class="l-article border-bottom p-10">
                <main class="l-article-body">
                  <div class="c-chart-bar c-chart-bar--horizontal c-chart-bar--normal">
                    
                    <span class="c-bullet" style="background: #B05BCE;"><i class="icon-svg-channel-instagram"></i></span>
                    <span class="c-chart-bar__back">
                      <span class="c-chart-bar__bar" style="width: 95%; background: #B05BCE;"></span>
                    </span>
                  </div>
                  <div class="d-flex mt-8">
                    <span class="mr-auto fs-20">인스타그램</span>
                    <span class="cnt ml-auto fs-24">100%</span> 
                  </div>
                </main>
              </article>
            </main>
            <article class="l-article p-10">
              <main class="l-article-body">
                <div class="d-flex align-center">
                  <div class="c-chart-bar c-chart-bar--horizontal c-chart-bar--small">
                    <span class="c-bullet c-bullet--small" style="background: #C24343;"><i class="icon-svg-channel-youtube"></i></span>
                    <span class="c-chart-bar__back">
                      <span class="c-chart-bar__bar" style="width: 64.3%; background: #C24343;"></span>
                    </span>
                  </div>
                  <div class="cnt fs-16 color-999">64.3%</div>
                </div>
                <div class="d-flex align-center">
                  <div class="c-chart-bar c-chart-bar--horizontal c-chart-bar--small">
                    <span class="c-bullet c-bullet--small" style="background: #6BB3DC;"><i class="icon-svg-channel-twitter"></i></span>
                    <span class="c-chart-bar__back">
                      <span class="c-chart-bar__bar" style="width: 64.3%; background: #6BB3DC;"></span>
                    </span>
                  </div>
                  <div class="cnt fs-16 color-999">64.3%</div>
                </div>
                <div class="d-flex align-center">
                  <div class="c-chart-bar c-chart-bar--horizontal c-chart-bar--small">
                    <span class="c-bullet c-bullet--small" style="background: #5754E7;"><i class="icon-svg-channel-government"></i></span>
                    <span class="c-chart-bar__back">
                      <span class="c-chart-bar__bar" style="width: 64.3%; background: #5754E7;"></span>
                    </span>
                  </div>
                  <div class="cnt fs-16 color-999">64.3%</div>
                </div>
                <div class="d-flex align-center">
                  <div class="c-chart-bar c-chart-bar--horizontal c-chart-bar--small">
                    <span class="c-bullet c-bullet--small" style="background: #348E94;"><i class="icon-svg-channel-kin"></i></span>
                    <span class="c-chart-bar__back">
                      <span class="c-chart-bar__bar" style="width: 20%; background: #348E94;"></span>
                    </span>
                  </div>
                  <div class="cnt fs-16 color-999">20%</div>
                </div>
              </main>
            </article>
          </article>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row mb-20">
        <div class="col-8">
          <article class="l-article l-article--bg-gradient" data-article="Top100연관어" data-loding-spinner="false" data-is-empty="false" style="height: 74.3rem">
            <header class="l-article-header"><h4 class="l-article-header__title">Top100 연관어</h4></header>
            <main class="l-article-body">
              <div class="js-chart h-100"></div>
            </main>
          </article>
        </div>
        <div class="col-8">
          <article class="l-article l-article--bg-gradient p-0" data-article="1depth 아티클이름" data-loding-spinner="false" data-is-empty="false" style="height: 74.3rem">            
            <main class="l-article-body l-article-body--flex-wrap pt-10 pr-20 pb-20 pl-20">
              <article class="l-article w-50 h-50 pt-0 pl-0 border-bottom border-end" data-article="성별">
                <header class="l-article-header"><h4 class="l-article-header__title">성별</h4></header>
                <main class="l-article-body p-20">
                  <div class="d-flex justify-content-around"><span class="color-666 ml-10">남성</span><span class="mr-10">여성</span></div>
                  <div class="js-chart"></div>
                  <div class="d-flex justify-content-around"><span class="cnt fs-24 color-666 ml-10">72.9%</span><span class="cnt fs-24 mr-10">27.1%</span></div>
                </main> 
              </article>
              <article class="l-article w-50 h-50 pt-0 pr-0 border-bottom" data-article="연령별">
                <header class="l-article-header"><h4 class="l-article-header__title">연령별</h4></header>
                <main class="l-article-body">
                  <div class="row h-100 text-center flex-nowrap pt-20 pr-10 pb-8 pl-15">
                    <div class="col p-0">
                      <span class="fs-16 color-666">10대</span>
                      <div class="c-chart-bar c-chart-bar--vertical c-chart-bar--small pt-14 pb-6 m-auto">
                        <span class="c-chart-bar__back">
                          <span class="c-chart-bar__bar" style="height: 50.9%; background: #606060;"></span>
                        </span>
                      </div>
                      <span class="cnt fs-16 color-666 fw-400">50.9%</span>
                    </div>
                    <div class="col p-0">
                      <span class="fs-16">20대</span>
                      <div class="c-chart-bar c-chart-bar--vertical c-chart-bar--small pt-14 pb-6 m-auto">
                        <span class="c-chart-bar__back">
                          
                          <span class="c-chart-bar__bar" style="height: 100%; background: #58CBA2;"></span>
                        </span>
                      </div>
                      <span class="cnt fs-16">100%</span>
                    </div>
                    <div class="col p-0">
                      <span class="fs-16 color-666">30대</span>
                      <div class="c-chart-bar c-chart-bar--vertical c-chart-bar--small pt-14 pb-6 m-auto">
                        <span class="c-chart-bar__back">
                          <span class="c-chart-bar__bar" style="height: 54%; background: #606060;"></span>
                        </span>
                      </div>
                      <span class="cnt fs-16 color-666 fw-400">54%</span>
                    </div>
                    <div class="col p-0">
                      <span class="fs-16 color-666">40대</span>
                      <div class="c-chart-bar c-chart-bar--vertical c-chart-bar--small pt-14 pb-6 m-auto">
                        <span class="c-chart-bar__back">
                          <span class="c-chart-bar__bar" style="height: 30%; background: #606060;"></span>
                        </span>
                      </div>
                      <span class="cnt fs-16 color-666 fw-400">30%</span>
                    </div>
                    <div class="col p-0">
                      <span class="fs-16 color-666">50대</span>
                      <div class="c-chart-bar c-chart-bar--vertical c-chart-bar--small pt-14 pb-6 m-auto">
                        <span class="c-chart-bar__back">
                          <span class="c-chart-bar__bar" style="height: 30%; background: #606060;"></span>
                        </span>
                      </div>
                      <span class="cnt fs-16 color-666 fw-400">30%</span>
                    </div>
                  </div>
                </main>
              </article>
              <article class="l-article w-50 h-50 pl-0 border-end" data-article="Top3직업">
                <header class="l-article-header"><h4 class="l-article-header__title">Top3 직업</h4></header>
                <main class="l-article-body">
                  <ul class="pl-10 pr-10 pt-5">
                    <li>
                    
                      <div class="d-flex align-center">
                        <div class="c-bullet" style="background: rgba(103, 86, 173, 1)"><i class="icon-svg-job-creator"></i></div>
                        <span class="fs-20 fw-200 ml-auto">소셜크리에이터</span>
                        <span class="cnt fs-18 ml-14 mt-3">99.9%</span>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-center">
                        <div class="c-bullet" style="background: rgba(103, 86, 173, 0.5)"><i class="icon-svg-job-researcher"></i></div>
                        <span class="fs-20 fw-200 ml-auto color-999">연구원</span>
                        <span class="cnt fs-16 ml-14 mt-3 color-999">99.9%</span>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-center">
                        <div class="c-bullet" style="background: rgba(103, 86, 173, 0.5)"><i class="icon-svg-job-businessman"></i></div>
                        <span class="fs-20 fw-200 ml-auto color-999">사업가</span>
                        <span class="cnt fs-16 ml-14 mt-3 color-999">99.9%</span>
                      </div>
                    </li>
                  </ul>
                </main>
              </article>
              <article class="l-article w-50 h-50 pr-0" data-article="Top3관심사">
                <header class="l-article-header"><h4 class="l-article-header__title">Top3 관심사</h4></header>
                <main class="l-article-body">
                  <ul class="pl-10 pr-10 pt-5">
                    <li>
                    
                      <div class="d-flex align-center">
                        <div class="c-bullet" style="background: rgba(229, 175, 35, 1)"><i class="icon-svg-interest-economy"></i></div>
                        <span class="fs-20 fw-200 ml-auto">경제</span>
                        <span class="cnt fs-18 ml-14 mt-3">99.9%</span>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-center">
                        <div class="c-bullet" style="background: rgba(229, 175, 35, 0.5)"><i class="icon-svg-interest-enviroment"></i></div>
                        <span class="fs-20 fw-200 ml-auto color-999">환경</span>
                        <span class="cnt fs-16 ml-14 mt-3 color-999">99.9%</span>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-center">
                        <div class="c-bullet" style="background: rgba(229, 175, 35, 0.5)"><i class="icon-svg-interest-car"></i></div>
                        <span class="fs-20 fw-200 ml-auto color-999">자동차</span>
                        <span class="cnt fs-16 ml-14 mt-3 color-999">99.9%</span>
                      </div>
                    </li>
                  </ul>
                </main>
              </article>
            </main>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-16">
          <article class="l-article l-article--bg-gradient" data-article="Top5 토픽" data-loding-spinner="false" data-is-empty="false" style="height: 20rem">
            <header class="l-article-header"><h4 class="l-article-header__title">Top5 토픽</h4></header>
            <main class="l-article-body">
              <div class="js-chart">Top 5 100% 차트</div>
            </main>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // swiper-slide-overview1 -->
          <!-- swiper-slide-overview2 -->
<div class="swiper-slide swiper-slide-overview2" style="height:96.4rem;">
  
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-16">
          <article class="l-article l-article--bg-gradient mb-20" data-article="정보량추이" data-loding-spinner="false" data-is-empty="false" style="height: 47.2rem">
            <header class="l-article-header"><h4 class="l-article-header__title">정보량 추이</h4></header>
            <main class="l-article-body d-flex">
              딩
            </main> 
          </article>
          <article class="l-article  l-article--bg-gradient" data-article="관련뉴스" data-loding-spinner="false" data-is-empty="false" style="height: 47.2rem">
            <header class="l-article-header"><h4 class="l-article-header__title">관련 뉴스</h4></header>
            <main class="l-article-body">
              <article class="l-article border-bottom pb-25" style="height: 16.5rem">
                <main class="l-article-body">
                  <div class="title-box">
                    <span class="title clamp-2">LG엔솔, 美 FEPS에 전기 상용차용 배터리 공급…5만대 규모</span>
                    <span class="fs-18 color-999">D연합뉴스</span>
                  </div>
                </main>
              </article>
            </main>
            <article class="l-article p-10">
              <main class="l-article-body">
                <ul class="news-list h-100">
                  <li class="d-flex"><span class="fs-18">LG엔솔, 美 FEPS에 전기 상용차용 배터리 공급…5만대 규모</span><span class="fs-16 color-999 ml-auto">- 뉴스인오늘</span></li>
                  <li class="d-flex"><span class="fs-18">현대차그룹, 美 카즈닷컴 '최고의 차 어워즈' 4개부문 석권</span><span class="fs-16 color-999 ml-auto">- 한국경제TV</span></li>
                  <li class="d-flex"><span class="fs-18">슈나이더 일렉트릭 코리아-한솔PNS, 스마트 팩토리 사업 제휴</span><span class="fs-16 color-999 ml-auto">- 뉴스인오늘</span></li>
                  <li class="d-flex"><span class="fs-18">도봉구, '건물에너지효율화' 시공비 제로금리 융자 지원</span><span class="fs-16 color-999 ml-auto">- 피디언</span></li>
                </ul>
              </main>
            </article>
          </article>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row mb-20">
        <div class="col-8">
          <article class="l-article l-article--bg-gradient" data-article="성별" data-loding-spinner="false" data-is-empty="false" style="height: 35rem">
            <header class="l-article-header"><h4 class="l-article-header__title">성별<i class="c-badge ml-11" style="background: #4C86DD">남성</i><i class="c-badge ml-11" style="background: #C64583">여성</i></h4></header>
            <main class="l-article-body">
              <div class="js-chart h-100"></div>
            </main>
          </article>
        </div>
        <div class="col-8">
          <article class="l-article l-article--bg-gradient" data-article="연령별" data-loding-spinner="false" data-is-empty="false" style="height: 35rem">            
            <header class="l-article-header"><h4 class="l-article-header__title">연령별<i class="c-badge ml-11" style="background: #58CBA2">30대</i></h4></h4></header>
            <main class="l-article-body">
              <div class="js-chart h-100"></div>
            </main>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-16">
          <article class="l-article l-article--bg-gradient" data-article="TPOP" data-loding-spinner="false" data-is-empty="false" style="height: 59.4rem">
            <header class="l-article-header"><h4 class="l-article-header__title">TPOP</h4></header>
            <main class="l-article-body">
              <div class="row">
                <div class="col-8">
                  <article class="l-article p-0" data-loding-spinner="false" data-is-empty="false">
                    <main class="l-article-body">
                      <div class="js-chart h-100">TPOP 차트</div>
                    </main>
                  </article>
                </div>
                <div class="col-8">
                  <div class="row">
                    <div class="col-8">
                      <div class="row">
                        <div class="col-16">
                          <article class="l-article" data-article="Time" data-loding-spinner="false" data-is-empty="false">
                            <header class="l-article-header pb-10"><h5 class="l-article-header__title fs-24">Time</h5><span class="cnt fs-18 ml-8">00.0%</span></header>
                            <main class="l-article-body">
                              <ul>
                                <li class="pb-10"><span class="cnt mr-10">01</span><span>지난해</span></li>
                                <li class="pb-10"><span class="cnt mr-10">02</span><span>실시간</span></li>
                                <li class="pb-10"><span class="cnt mr-10">03</span><span>1월</span></li>
                                <li class="pb-10"><span class="cnt mr-10">04</span><span>2월</span></li>
                                <li class="pb-10"><span class="cnt mr-10">05</span><span>오후</span></li>
                              </ul>
                            </main>
                          </article>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-16">
                          <article class="l-article" data-article="Place" data-loding-spinner="false" data-is-empty="false">
                            <header class="l-article-header pb-10"><h5 class="l-article-header__title fs-24">Time</h5><span class="cnt fs-18 ml-8">00.0%</span></header>
                            <main class="l-article-body">
                              <ul>
                                <li class="pb-10"><span class="cnt mr-10">01</span><span>전기차</span></li>
                                <li class="pb-10"><span class="cnt mr-10">02</span><span>교통이용장소</span></li>
                                <li class="pb-10"><span class="cnt mr-10">03</span><span>교육</span></li>
                                <li class="pb-10"><span class="cnt mr-10">04</span><span>학교</span></li>
                                <li class="pb-10"><span class="cnt mr-10">05</span><span>병원</span></li>
                              </ul>
                            </main>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="row">
                        <div class="col-16">
                          <article class="l-article pr-0" data-article="Occasion" data-loding-spinner="false" data-is-empty="false">
                            <header class="l-article-header pb-10"><h5 class="l-article-header__title fs-24">Occasion</h5><span class="cnt fs-18 ml-8">00.0%</span></header>
                            <main class="l-article-body">
                              <ul>
                                <li class="pb-10"><span class="cnt mr-10">01</span><span>사업</span></li>
                                <li class="pb-10"><span class="cnt mr-10">02</span><span>서비스</span></li>
                                <li class="pb-10"><span class="cnt mr-10">03</span><span>투자</span></li>
                                <li class="pb-10"><span class="cnt mr-10">04</span><span>응원</span></li>
                                <li class="pb-10"><span class="cnt mr-10">05</span><span>합의</span></li>
                              </ul>
                            </main>
                          </article>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-16">
                          <article class="l-article pr-0" data-article="Person" data-loding-spinner="false" data-is-empty="false">
                            <header class="l-article-header pb-10"><h5 class="l-article-header__title fs-24">Person</h5><span class="cnt fs-18 ml-8">00.0%</span></header>
                            <main class="l-article-body">
                              <ul>
                                <li class="pb-10"><span class="cnt mr-10">01</span><span>고객</span></li>
                                <li class="pb-10"><span class="cnt mr-10">02</span><span>가족</span></li>
                                <li class="pb-10"><span class="cnt mr-10">03</span><span>파트너</span></li>
                                <li class="pb-10"><span class="cnt mr-10">04</span><span>인재</span></li>
                                <li class="pb-10"><span class="cnt mr-10">05</span><span>사람</span></li>
                              </ul>
                            </main>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // swiper-slide-overview2 -->                
      </div>
    </div>
  </section>
  <!-- // 상황판 -->
</main> 
<!-- // #container -->

<!-- #footer -->
<footer id="footer" class="footer visually-hidden" role="contentinfo">
  <h2>푸터</h2>
</footer>
<!-- //#footer -->

</div>
<!-- //#wrap -->
</body>
</html>

