
<!-- reBuild :  20230323190455 -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=991" />
  <title>Dashboard</title>

  <!-- SEO -->
  <meta name="robots" content="noindex,nofollow"> 
  <meta name="title" content="대구경북디자인연구원">
  <meta name="description" content="대구경북 고효율에너지시스템 대시보드입니다.">
  <meta name="keywords" content="대구경북, 빅데이터 , 대시보드 , 고효율에너지시스템">
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="대구경북디자인연구원">
  <meta property="og:description" content="대구경북 고효율에너지시스템 대시보드입니다.">
  <meta property="og:image" content="http://images.realsn.com/history/ridp.jpg"> 
  <meta property="og:url" content="http://ridpscreen.realsn.com"> 

  <!-- FAVICON -->
  <link rel="shortcut icon" href="../assets/img/favicon.ico" />

  <!-- STYLE -->
  <link rel="stylesheet" href="//fonts.realsn.com/libs/NotoSansKR/NotoSansKR.css">
  <link rel="stylesheet" href="//fonts.realsn.com/libs/Montserrat/Montserrat.css">
  <link rel="stylesheet" href="../assets/css/style.css?v=20230323190455">

  <!-- JS -->
  <script src="../assets/js/config/files.js?v=20230323190455" defer></script>
  <script src="../assets/js/libs.js?v=20230323190455" defer></script>
  <script src="../assets/js/modules.js?v=20230323190455" defer></script>
  <script src="../assets/js/config/router.js?v=20230323190455" defer></script>
</head>

<body>
  <!-- 페이지 로딩 -->
  
  
    
      
      
      


<!-- loading page -->
<aside id="loadingWrap">
  <div class="content">
    <div class="img"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
    <p>페이지를 불러오고 있습니다.</p>
  </div>

  
  <style type="text/css">
      #loadingWrap {position:fixed;z-index:101;top:0;left:0;width:100%;height:100%;color:#fff;font-family:sans-serif;background-color:rgba(0,0,0,0.3)}
      #loadingWrap .content {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
      #loadingWrap .content .img {position:relative;margin:auto;width:20vw;height:20vw;transform:rotate(0);animation:loadingWrap 2.4s infinite linear;}
      #loadingWrap .content .img i {position:absolute;top:0;left:50%;width:50%;height:50%;margin-left:-25%;transform-origin:50% 100%;}
      #loadingWrap .content .img i:nth-child(1) {transform: rotate(45deg);}
      #loadingWrap .content .img i:nth-child(2) {transform: rotate(90deg);}
      #loadingWrap .content .img i:nth-child(3) {transform: rotate(135deg);}
      #loadingWrap .content .img i:nth-child(4) {transform: rotate(180deg);}
      #loadingWrap .content .img i:nth-child(5) {transform: rotate(225deg);}
      #loadingWrap .content .img i:nth-child(6) {transform: rotate(270deg);}
      #loadingWrap .content .img i:nth-child(7) {transform: rotate(315deg);}
      #loadingWrap .content .img i:nth-child(8) {transform: rotate(360deg);}
      #loadingWrap .content .img i::after {content:"";display:block;width:35%;height:35%;background-color:#fff;border-radius:50%;transform:scale(0.6)}
      #loadingWrap .content p {position:absolute;left:50%;margin:0;padding:0;font-size:16px;white-space:nowrap;transform:translate(-50%, 80%)}

      @media screen and (min-width:768px) {
          #loadingWrap .content .img {width:100px;height:100px;}
      }
      @keyframes loadingWrap {
          0% {transform: rotate(0);}
          100% {transform: rotate(360deg);}
      }
  </style>
</aside>
<!-- //loading page -->






  <!-- //페이지 로딩 -->
  <!-- #wrap -->
  <div id="wrap" data-target-device="pc" user-scalable="false" style="opacity: 0; visibility: hidden;">

    
      
        
          
          
          
        <!-- #header -->
        <header id="header" class="header" data-header-fixed="false" role="banner">
          <div class="inner-fluid">
            <h1 class="header-logo"><a class="header-logo__link" href="../regional" title="권역설정으로 돌아가기"><img class="img" src="../assets/img/common/logo-dgdp.png" alt="DGDP"><span class="tit">대구경북</span><span class="desc">고효율에너지시스템</span></h1>
            <ul class="header-indicator">              
              <li class="header-indicator__item">분석기간 : 1/8~27</li>
              <li class="header-indicator__item"><a href="#" class="btn btn-icon rounded-circle" title="권역설정으로 돌아가기"><i class="icon-svg icon-svg-home" aria-hidden="true"></i></a></li>
            </ul>            
          </div>          
        </header>
        <!-- //#header -->
      
    
  

<!-- #container -->
<main id="container" class="overview" data-header-hide="false" data-footer-hide="false" role="main">
  <h2 class="visually-hidden">상황판</h2>  

  <!-- 상황판 -->
  <section class="l-section" data-section="상황판">
    <div class="inner-fluid h-100">
      <div class="swiper" style="width:100%">
        <div class="swiper-wrapper">
          
<!-- swiper-slide-overview1 -->
<div class="swiper-slide swiper-slide-overview1">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-16">
          <!-- 전체정보량 -->
          <article class="l-article l-article--bg-gradient is-ready mb-20" data-article="전체정보량" data-loading-spinner="false" data-is-empty="false" style="height: 22rem">
            <header class="l-article-header"><h4 class="l-article-header__title">전체 정보량</h4></header>
            <main class="l-article-body d-flex">
              <span class="number ml-auto mt-auto cnt">0</span>
            </main>
          </article>
          <!-- // 전체정보량 -->

          <!-- 호감도 -->
          <article class="l-article  l-article--bg-gradient is-ready mb-20" data-article="호감도SNPS" data-loading-spinner="false" data-is-empty="false" style="height: 30rem">
            <header class="l-article-header"><h4 class="l-article-header__title">호감도(SNPS)</h4></header>
            <main class="l-article-body">
              <div class="c-chart-gauge">
                <span class="c-chart-gauge__bar c-chart-gauge__bar--nega"></span><span class="c-chart-gauge__bar c-chart-gauge__bar--posi"></span>                
                <span class="c-chart-gauge__arrow"></span>                
                <span class="c-chart-gauge__num">0</span>
              </div>
            </main>
          </article>
          <!-- // 호감도 -->

          <!-- Top5 채널 -->
          <article class="l-article  l-article--bg-gradient is-ready" data-article="Top5채널" data-loading-spinner="false" data-is-empty="false" style="height: 40.4rem">
            <header class="l-article-header"><h4 class="l-article-header__title">Top 5 채널</h4></header>
            <main class="l-article-body">
              <article class="l-article border-bottom p-10">
                <main class="l-article-body">
                  <div class="c-chart-bar c-chart-bar--horizontal c-chart-bar--normal c-chart-bar--addbullet">                    
                    <span class="c-bullet"></span>
                    <span class="c-chart-bar__back">
                      <span class="c-chart-bar__bar"></span>
                    </span>
                  </div>
                  <div class="d-flex mt-8">
                    <span class="tit mr-auto fs-20"></span>
                    <span class="cnt ml-auto fs-24">0</span> 
                  </div>
                </main>
              </article>
            </main>
            <article class="l-article p-10">
              <main class="l-article-body">
                <div class="d-flex align-center">
                  <div class="c-chart-bar c-chart-bar--horizontal c-chart-bar--small c-chart-bar--addbullet">
                    <span class="c-bullet c-bullet--small"></span>
                    <span class="c-chart-bar__back">
                      <span class="c-chart-bar__bar"></span>
                    </span>
                  </div>
                  <div class="cnt fs-16 color-999">0</div>
                </div>
                <div class="d-flex align-center">
                  <div class="c-chart-bar c-chart-bar--horizontal c-chart-bar--small c-chart-bar--addbullet">
                    <span class="c-bullet c-bullet--small"></span>
                    <span class="c-chart-bar__back">
                      <span class="c-chart-bar__bar"></span>
                    </span>
                  </div>
                  <div class="cnt fs-16 color-999">0</div>
                </div>
                <div class="d-flex align-center">
                  <div class="c-chart-bar c-chart-bar--horizontal c-chart-bar--small c-chart-bar--addbullet">
                    <span class="c-bullet c-bullet--small"></span>
                    <span class="c-chart-bar__back">
                      <span class="c-chart-bar__bar" ></span>
                    </span>
                  </div>
                  <div class="cnt fs-16 color-999">0</div>
                </div>
                <div class="d-flex align-center">
                  <div class="c-chart-bar c-chart-bar--horizontal c-chart-bar--small c-chart-bar--addbullet">
                    <span class="c-bullet c-bullet--small"></span>
                    <span class="c-chart-bar__back">
                      <span class="c-chart-bar__bar"></span>
                    </span>
                  </div>
                  <div class="cnt fs-16 color-999">0</div>
                </div>
              </main>
            </article>
          </article>
          <!-- // Top5 채널 -->
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row mb-20">
        <div class="col-8">
          <!-- Top100 연관어 -->
          <article class="l-article l-article--bg-gradient is-ready" data-article="Top100연관어" data-loading-spinner="false" data-is-empty="false" style="height: 74.3rem">
            <header class="l-article-header"><h4 class="l-article-header__title">Top100 연관어</h4></header>
            <main class="l-article-body pt-10 pr-20 pb-20 pl-20">
              <div class="js-chart h-100"></div>
            </main>
          </article>
          <!-- // Top100 연관어 -->
        </div>
        <div class="col-8">
          <article class="l-article l-article--bg-gradient is-ready p-0" data-article="인포그래픽모음" data-loading-spinner="false" data-is-empty="false" style="height: 74.3rem">            
            <main class="l-article-body l-article-body--flex-wrap pt-10 pr-20 pb-20 pl-20">
              <!-- 성별 -->
              <article class="l-article w-50 h-50 pt-0 pl-0 border-bottom border-end" data-article="성별">
                <header class="l-article-header"><h4 class="l-article-header__title">성별</h4></header>
                <main class="l-article-body p-20">
                  <div class="d-flex justify-content-around"><span class="person ml-10">남성</span><span class="person mr-10">여성</span></div>
                  <div class="js-chart"></div>
                  <div class="d-flex justify-content-around"><span class="cnt fs-24 ml-10">0</span><span class="cnt fs-24 mr-10">0</span></div>
                </main> 
              </article>
              <!-- // 성별 -->

              <!-- 연령별 -->
              <article class="l-article w-50 h-50 pt-0 pr-0 border-bottom" data-article="연령별">
                <header class="l-article-header"><h4 class="l-article-header__title">연령별</h4></header>
                <main class="l-article-body">
                  <div class="row h-100 text-center flex-nowrap pt-20 pr-10 pb-8 pl-15">
                    <div class="col p-0">
                      <span class="age fs-16"></span>
                      <div class="c-chart-bar c-chart-bar--vertical c-chart-bar--small pt-14 pb-6 m-auto">
                        <span class="c-chart-bar__back">
                          <span class="c-chart-bar__bar" style=" background: #606060;"></span>
                        </span>
                      </div>
                      <span class="cnt fs-16 fw-400">0</span>
                    </div>
                    <div class="col p-0">
                      <span class="age fs-16"></span>
                      <div class="c-chart-bar c-chart-bar--vertical c-chart-bar--small pt-14 pb-6 m-auto">
                        <span class="c-chart-bar__back">
                          
                          <span class="c-chart-bar__bar" style="background: #606060;"></span>
                        </span>
                      </div>
                      <span class="cnt fs-16">0</span>
                    </div>
                    <div class="col p-0">
                      <span class="age fs-16"></span>
                      <div class="c-chart-bar c-chart-bar--vertical c-chart-bar--small pt-14 pb-6 m-auto">
                        <span class="c-chart-bar__back">
                          <span class="c-chart-bar__bar" style="background: #606060;"></span>
                        </span>
                      </div>
                      <span class="cnt fs-16 fw-400">0</span>
                    </div>
                    <div class="col p-0">
                      <span class="age fs-16"></span>
                      <div class="c-chart-bar c-chart-bar--vertical c-chart-bar--small pt-14 pb-6 m-auto">
                        <span class="c-chart-bar__back">
                          <span class="c-chart-bar__bar" style=" background: #606060;"></span>
                        </span>
                      </div>
                      <span class="cnt fs-16 fw-400">0</span>
                    </div>
                    <div class="col p-0">
                      <span class="age fs-16"></span>
                      <div class="c-chart-bar c-chart-bar--vertical c-chart-bar--small pt-14 pb-6 m-auto">
                        <span class="c-chart-bar__back">
                          <span class="c-chart-bar__bar" style="background: #606060;"></span>
                        </span>
                      </div>
                      <span class="cnt fs-16 fw-400">0</span>
                    </div>
                  </div>
                </main>
              </article>
              <!-- // 연령별 -->

              <!-- Top3 직업 -->
              <article class="l-article w-50 h-50 pl-0 border-end" data-article="Top3직업">
                <header class="l-article-header"><h4 class="l-article-header__title">Top3 직업</h4></header>
                <main class="l-article-body">
                  <ul class="job-list">
                    <li class="job-list__item">
                        <div class="item-list d-flex align-center">
                          <div class="c-bullet"></div>
                          <span class="item-list__name"></span>
                          <span class="item-list__percent">0</span>
                        </div>
                      </li>
                      <li class="job-list__item">
                        <div class="item-list d-flex align-center">
                          <div class="c-bullet"></div>
                          <span class="item-list__name"></span>
                          <span class="item-list__percent">0</span>
                        </div>
                      </li>
                      <li class="job-list__item">
                        <div class="item-list d-flex align-center">
                          <div class="c-bullet"></div>
                          <span class="item-list__name"></span>
                          <span class="item-list__percent">0</span>
                        </div>
                      </li>
                  </ul>
                </main>
              </article>
              <!-- // Top3 직업 -->

              <!-- Top3 관심사 -->
              <article class="l-article w-50 h-50 pr-0" data-article="Top3관심사">
                <header class="l-article-header"><h4 class="l-article-header__title">Top3 관심사</h4></header>
                <main class="l-article-body">
                  <ul class="job-list">
                    <li class="job-list__item">
                        <div class="item-list d-flex align-center">
                          <div class="c-bullet"></div>
                          <span class="item-list__name"></span>
                          <span class="item-list__percent">0</span>
                        </div>
                      </li>
                      <li class="job-list__item">
                        <div class="item-list d-flex align-center">
                          <div class="c-bullet"></div>
                          <span class="item-list__name"></span>
                          <span class="item-list__percent">0</span>
                        </div>
                      </li>
                      <li class="job-list__item">
                        <div class="item-list d-flex align-center">
                          <div class="c-bullet"></div>
                          <span class="item-list__name"></span>
                          <span class="item-list__percent">0</span>
                        </div>
                      </li>
                  </ul>
                </main>
              </article>
              <!-- // Top3 관심사 -->
            </main>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-16">
          <!-- Top5 토픽 -->
          <article class="l-article l-article--bg-gradient is-ready" data-article="Top5 토픽" data-loading-spinner="false" data-is-empty="false" style="height: 20rem">
            <header class="l-article-header mb-28"><h4 class="l-article-header__title">Top5 토픽</h4></header>
            <main class="l-article-body">
              <div class="js-chart h-100"></div>
            </main>
          </article>
          <!-- // Top5 토픽 -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // swiper-slide-overview1 -->
          
<!-- swiper-slide-overview2 -->
<div class="swiper-slide swiper-slide-overview2">  
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-16">
          <!-- 정보량추이 -->
          <article class="l-article l-article--bg-gradient is-ready mb-20 pl-0 pr-0" data-article="정보량추이" data-loading-spinner="false" data-is-empty="false" style="height: 47.2rem">
            <header class="l-article-header pl-20"><h4 class="l-article-header__title">정보량 추이</h4></header>
            <main class="l-article-body d-flex flex-column">
              <div class="js-chart w-100 h-100"></div>
              <div class="chart-category d-flex">
                <span class="cnt color-666">12/1</span>
                <span class="cnt color-666">12/4</span>
                <span class="cnt color-666">12/7</span>
                <span class="cnt color-666">12/10</span>
                <span class="cnt color-666">12/13</span>
                <span class="cnt color-666">12/17</span>
                <span class="cnt color-666">12/20</span>
                <span class="cnt color-666">12/23</span>
                <span class="cnt color-666">12/27</span>
                <span class="cnt color-666">12/30</span>
              </div>
            </main> 
          </article>
          <!-- // 정보량추이 -->

          <!-- 관련뉴스 -->
          <article class="l-article  l-article--bg-gradient is-ready" data-article="관련뉴스" data-loading-spinner="false" data-is-empty="false" style="height: 47.2rem">
            <header class="l-article-header"><h4 class="l-article-header__title">관련 뉴스</h4></header>
            <main class="l-article-body">
              <article class="l-article border-bottom pb-25" style="height: 16.5rem">
                <main class="l-article-body">
                  <div class="title-box">
                    <span class="title clamp-2">LG엔솔, 美 FEPS에 전기 상용차용 배터리 공급…5만대 규모</span>
                    <span class="fs-18 color-999">D연합뉴스</span>
                  </div>
                </main>
              </article>
            </main>
            <article class="l-article p-10">
              <main class="l-article-body">
                <ul class="news-list h-100">
                  <li class="d-flex"><span class="fs-18">LG엔솔, 美 FEPS에 전기 상용차용 배터리 공급…5만대 규모</span><span class="fs-16 color-999 ml-auto">- 뉴스인오늘</span></li>
                  <li class="d-flex"><span class="fs-18">현대차그룹, 美 카즈닷컴 '최고의 차 어워즈' 4개부문 석권</span><span class="fs-16 color-999 ml-auto">- 한국경제TV</span></li>
                  <li class="d-flex"><span class="fs-18">슈나이더 일렉트릭 코리아-한솔PNS, 스마트 팩토리 사업 제휴</span><span class="fs-16 color-999 ml-auto">- 뉴스인오늘</span></li>
                  <li class="d-flex"><span class="fs-18">도봉구, '건물에너지효율화' 시공비 제로금리 융자 지원</span><span class="fs-16 color-999 ml-auto">- 피디언</span></li>
                </ul>
              </main>
            </article>
          </article>
          <!-- // 관련뉴스 -->
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row mb-20">
        <div class="col-8">
          <!-- 성별 -->
          <article class="l-article l-article--bg-gradient is-ready" data-article="성별" data-loading-spinner="false" data-is-empty="false" style="height: 35rem">
            <header class="l-article-header"><h4 class="l-article-header__title">성별<i class="c-badge ml-11" style="background: #4C86DD">남성</i><i class="c-badge ml-11" style="background: #C64583">여성</i></h4></header>
            <main class="l-article-body">
              <div class="js-chart h-100"></div>
            </main>
          </article>
          <!-- // 성별 -->
        </div>
        <div class="col-8">
          <!-- 연령별 -->
          <article class="l-article l-article--bg-gradient is-ready" data-article="연령별" data-loading-spinner="false" data-is-empty="false" style="height: 35rem">            
            <header class="l-article-header"><h4 class="l-article-header__title">연령별<i class="c-badge ml-11" style="background: #58CBA2">30대</i></h4></h4></header>
            <main class="l-article-body">
              <div class="js-chart h-100"></div>
            </main>
          </article>
          <!-- // 연령별 -->
        </div>
      </div>
      <div class="row">
        <div class="col-16">
          <!-- TPOP -->
          <article class="l-article l-article--bg-gradient is-ready" data-article="TPOP" data-loading-spinner="false" data-is-empty="false" style="height: 59.4rem">
            <header class="l-article-header"><h4 class="l-article-header__title">TPOP</h4></header>
            <main class="l-article-body">
              <div class="row">
                <div class="col-9">
                  <article class="l-article p-0" data-is-empty="false">
                    <main class="l-article-body">
                      <div class="js-chart h-100">TPOP 차트</div>
                    </main>
                  </article>
                </div>
                <div class="col-7">
                  <div class="row">
                    <div class="col-8">
                      <div class="row">
                        <div class="col-16">
                          <article class="l-article l-article-rank pl-0 pr-0" data-article="Time" data-is-empty="false">
                            <header class="l-article-header pb-10"><h5 class="l-article-header__title fs-24">Time</h5><span class="cnt fs-18 ml-8">0</span></header>
                            <main class="l-article-body">
                              <ul class="rank-list">
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">01</span><span>지난해</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">02</span><span>실시간</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">03</span><span>1월</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">04</span><span>2월</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">05</span><span>오후</span></li>
                              </ul>
                            </main>
                          </article>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-16">
                          <article class="l-article l-article-rank pl-0 pr-0" data-article="Occasion"  data-is-empty="false">
                            <header class="l-article-header pb-10"><h5 class="l-article-header__title fs-24">Occasion</h5><span class="cnt fs-18 ml-8">0</span></header>
                            <main class="l-article-body">
                              <ul class="rank-list">
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">01</span><span>전기차</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">02</span><span>교통이용장소</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">03</span><span>교육</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">04</span><span>학교</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">05</span><span>병원</span></li>
                              </ul>
                            </main>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="row">
                        <div class="col-16">
                          <article class="l-article l-article-rank pl-20 pr-0" data-article="Place" data-is-empty="false">
                            <header class="l-article-header pb-10"><h5 class="l-article-header__title fs-24">Place</h5><span class="cnt fs-18 ml-8">0</span></header>
                            <main class="l-article-body">
                              <ul class="rank-list">
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">01</span><span>사업</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">02</span><span>서비스</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">03</span><span>투자</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">04</span><span>응원</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">05</span><span>합의</span></li>
                              </ul>
                            </main>
                          </article>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-16">
                          <article class="l-article l-article-rank pl-20 pr-0" data-article="Person" data-is-empty="false">
                            <header class="l-article-header pb-10"><h5 class="l-article-header__title fs-24">Person</h5><span class="cnt fs-18 ml-8">0</span></header>
                            <main class="l-article-body">
                              <ul class="rank-list">
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">01</span><span>고객</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">02</span><span>가족</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">03</span><span>파트너</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">04</span><span>인재</span></li>
                                <li class="rank-list__item pb-10"><span class="cnt mr-10">05</span><span>사람</span></li>
                              </ul>
                            </main>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </article>
          <!-- // TPOP -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // swiper-slide-overview2 -->                
      </div>
    </div>
  </section>
  <!-- // 상황판 -->
</main> 
<!-- // #container -->

<!-- #footer -->
<footer id="footer" class="footer visually-hidden" role="contentinfo">
  <h2>푸터</h2>
</footer>
<!-- //#footer -->

</div>
<!-- //#wrap -->
</body>
</html>

